@{Layout = null;}
@{
    ViewData["Title"] = "About";
}

<head>

   <meta charset="UTF-8">
   <title>About - Oleksandra Bosa</title>
     <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="~/js/site.js"></script>
 
   <link href="~/css/site.css" rel="stylesheet">
</head>
<body id="about-body">
     <a href="~/"><img class="img-logo" src="~/images/ob.png"/></a>
      <a href="~/Home/About"><img class="img-about" src="~/images/abouts.png"/></a>
	<video poster="~/images/pavlova.png" id="bgvid" playsinline autoplay muted loop>
        <source src="~/images/Gardener.mp4" type="video/mp4">
    </video>
<div id="textbox">
	<h1>
		Hi! My name is Oleksandra Bosa and one of my passions is baking. </br> I started creating my own cakes and pastries when I was 12. Science then I never stopped  and try to perfect my skill which each and every one of my works. </br>
		This web site hepls me track my baking activity simultaneously showing my progress and progress is always inspiring.  </br> Hopefully not only for myself.
	</h1>
</div>
</body>
