@{Layout = null;}
@{
    ViewData["Title"] = "Contact";
}


<head>

    <title>Contact - Oleksandra Bosa</title>

    <link href="css/bootstrap.css" rel="stylesheet">

    <link href="~/css/site.css" rel="stylesheet">
</head>

<body>
   <div class="pagec">
			   <a href="~/"><img class="img-logo" src="~/images/ob.png"/></a>
			   <a href="~/Home/Contact"><img class="img-cont" src="~/images/contacts.png" /></a>
			   <a href="https://www.instagram.com/oleksandrabosa/"><img class="social" id="img-inst" src="~/images/insta.png" height="550px" width="450px"/></a>
			   <a href="https://www.facebook.com/sanka.bosa"><img class="social" id="img-fb" src="~/images/fb.png" height="320px" width="500px"/></a>
			   <a href="https://www.pinterest.com/sankabosa/"><img class="social" id="img-pin" src="~/images/pin.png" height="280px" width="440px"/></a>
    </div>
</body>

