@{Layout = null; }
@{
	ViewData["Title"] = "Home Page";
}

<head>
	<title>Home - Oleksandra Bosa</title>
	<link href="~/css/bootstrap.css" rel="stylesheet">
	<link href="~/css/site.css" rel="stylesheet">
</head>

<body>
	<div class="intro-header">
		<a href="~/"><img class="logo" src="~/images/ob.png" /></a>
		<img class="pie" src="~/images/pie.gif" />
		<a href="~/Home/About"><img id="about" class="menu" src="~/images/cabout.png" /></a>
		<a href="~/Posts/Index"><img id="port" class="menu" src="~/images/myworks.png" /></a>
		<a href="~/Home/Contact"><img id="cont" class="menu" src="~/images/contact.png" /></a>
	</div>
</body>

