@{Layout = null; }
@model IEnumerable<ResumeBlog.Models.Post>

@{
	ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Oleksandra Bosa - Works</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

	<script src="~/js/index.js"></script>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
	<link href="~/css/style.css" rel="stylesheet">
</head>

	<body>
		<div class="header" id="top">
			<a href="~/"><img class="img-logo" src="~/images/ob.png" /></a>
			<a href="~/Posts/Index"><img class="img-port" src="~/images/mworks.png" /></a>
		</div>

		<div class="section animate">
			<div class="middle">
				<img src="~/images/dobos4.jpg" />
			</div>
			<div class="left title">
				<div class="content">
					<h2>My take on Dobos Torte</h2>
				</div>
			</div>
			<div class="right tiles">
				<img src="~/images/dobos2.jpg" />
				<img src="~/images/dobos2.jpg" />
				<img src="~/images/dobos2.jpg" />
				<img src="~/images/dobos2.jpg" />
			</div>
		</div>

		<div class="section">
			<div class="middle">
				<img src="~/images/strawberrycake4.jpg" />
			</div>
			<div class="right title">
				<div class="content">
					<h2>Strawberry Cake with merengue icing</h2>
				</div>
			</div>

			<div class="left tiles">
				<img src="~/images/strawberrycake6.jpg" />
				<img src="~/images/strawberrycake6.jpg" />
				<img src="~/images/strawberrycake6.jpg" />
				<img src="~/images/strawberrycake6.jpg" />
			</div>

		</div>

		<div class="section">
			<div class="middle">
				<img src="~/images/plumtart1.jpg" />
			</div>
			<div class="left title">
				<div class="content">
					<h2>Plum Tart from local plums</h2>
				</div>
			</div>

			<div class="right tiles">
				<img src="~/images/plumtart1.jpg" />
				<img src="~/images/plumtart1.jpg" />
				<img src="~/images/plumtart1.jpg" />
				<img src="~/images/plumtart1.jpg" />
			</div>

		</div>

		<div class="section">
			<div class="middle">
				<img src="~/images/pumpkinpie.jpg" />
			</div>
			<div class="right title">
				<div class="content">
					<h2>Vegan Pumpkin Pie with an oatflour leaves garnish</h2>
				</div>
			</div>

			<div class="left tiles">
				<img src="~/images/pumpkinpie6.jpg" />
				<img src="~/images/pumpkinpie6.jpg" />
				<img src="~/images/pumpkinpie6.jpg" />
				<img src="~/images/pumpkinpie6.jpg" />
			</div>

		</div>

		<div class="section">
			<div class="middle">
				<img src="~/images/southern.jpg" />
			</div>
			<div class="left title">
				<div class="content">
					<h2>Sothern Lane Cake for birthday</h2>
				</div>
			</div>

			<div class="right tiles">
				<img src="~/images/southern.jpg" />
				<img src="~/images/southern.jpg" />
				<img src="~/images/southern.jpg" />
				<img src="~/images/southern.jpg" />
			</div>

		</div>

		<div class="section">
			<div class="middle">
				<img src="~/images/keylime.jpg" />
			</div>
			<div class="right title">
				<div class="content">
					<h2>Personal  Key Lime Pie</h2>
				</div>
			</div>

			<div class="left tiles">
				<img src="~/images/keylime.jpg" />
				<img src="~/images/keylime.jpg" />
				<img src="~/images/keylime.jpg" />
				<img src="~/images/keylime.jpg" />
			</div>
		</div>

		<div class="section">
			<div class="middle">
				<img src="~/images/sainthonore.jpg" />
			</div>
			<div class="left title">
				<div class="content">
					<h2>Saint Honore</h2>
				</div>
			</div>

			<div class="right tiles">
				<img src="~/images/sainthonore.jpg" />
				<img src="~/images/sainthonore.jpg" />
				<img src="~/images/sainthonore.jpg" />
				<img src="~/images/sainthonore.jpg" />
			</div>

		</div>

		<div class="section">
			<div class="middle">
				<img src="~/images/peach.jpg" />
			</div>
			<div class="right title">
				<div class="content">
					<h2>Sunny Peach Tart with cream cheese filling</h2>
				</div>
			</div>

			<div class="left tiles">
				<img src="~/images/peach2.jpg" />
				<img src="~/images/peach2.jpg" />
				<img src="~/images/peach2.jpg" />
				<img src="~/images/peach2.jpg" />
			</div>
		</div>

		<div class="section">
			<div class="middle">
				<img src="~/images/caramelcake3.jpg" />
			</div>
			<div class="left title">
				<div class="content">
					<h2>Caramel Sponge Cake with hazelnut crunchy layers</h2>
				</div>
			</div>

			<div class="right tiles">
				<img src="~/images/caramelcake1.jpg" />
				<img src="~/images/caramelcake1.jpg" />
				<img src="~/images/caramelcake1.jpg" />
				<img src="~/images/caramelcake1.jpg" />
			</div>

		</div>

		<div class="section">
			<div class="middle">
				<img src="~/images/christmascake1.jpg" />
			</div>
			<div class="right title">
				<div class="content">
					<h2>Colombian Christmas Cake</h2>
				</div>
			</div>

			<div class="left tiles">
				<img src="~/images/christmascake2.jpg" />
				<img src="~/images/christmascake2.jpg" />
				<img src="~/images/christmascake2.jpg" />
				<img src="~/images/christmascake2.jpg" />
			</div>
		</div>

		<div class="section">
			<div class="middle">
				<img src="~/images/cherrypie1.jpg" />
			</div>
			<div class="left title">
				<div class="content">
					<h2>Classic Cherry Pie</h2>
				</div>
			</div>

			<div class="right tiles">
				<img src="~/images/cherrypie1.jpg" />
				<img src="~/images/cherrypie1.jpg" />
				<img src="~/images/cherrypie1.jpg" />
				<img src="~/images/cherrypie1.jpg" />
			</div>

		</div>

		<div class="footer">
			<a href="#top" class="scrollTo"><i class="fa fa-angle-up animated bounce"></i></a>
		</div>
	</body>
</html>

